@import "../tokens.scss";

.bar {
  background: transparent;

  .center-container {
    background-color: $bg-night;
    padding: 0 20px;
    border-radius: 0 0 $rad $rad;
  }

  .right-container {
    background-color: $bg-night;
    padding: 0 12px 0 12px;
    border-radius: 0 0 $rad $rad;
  }
}
