@import "../tokens.scss";

.bar {
  background-color: $glass;
  border-radius: 18px;

  .sep {
    color: rgba($overlay0, 0.6);
  }

  .left-container {
    padding: 0 14px;

    .arch-icon {
      font-size: 20px;
      color: $sapphire;
      margin-top: -2px;
      margin-right: 4px;
      margin-left: 4px;
    }
  }

  .center-container {
    padding: 0 20px;

    .date-text {
      font-family: "Inter";
    }
  }

  .right-container {
    padding: 0 12px;
  }

  .panel-trigger {
    background: none;
    box-shadow: none;
    color: $teal;
    font-size: $larger;
    padding: 0;
    margin-right: 8px;

    &:hover {
      color: rgba($sapphire, 0.9);
    }
  }
}
