@import "../tokens.scss";

.battery-container {
  margin: 0 6px;

  .bar-battery-icon {
    font-size: $icon;
  }

  .bar-battery-percent {
    font-size: $normal;
    color: $text-muted;
  }

  &.charging {
    .bar-battery-icon {
      color: $green-primary;
    }
  }

  &.low {
    .bar-battery-icon {
      color: $maroon-primary;
    }
  }

  &.warning {
    .bar-battery-icon {
      color: $orange-primary;
    }
  }

  &.good {
    .bar-battery-icon {
      color: $green-primary;
    }
  }
}
