@import "../tokens.scss";

.panel-card {
  background-color: $glass;
  border-radius: $rad;
  padding: 20px;

  .left-box {
    background-color: $glass;
    padding: 14px;
    border-radius: $rad;
  }

  .dnd-card,
  .sub-right-box {
    background-color: $glass;
    padding: 20px 16px;
    border-radius: $rad;
  }
}
